<div class="heading">
  <%= image_tag(@country.flag, class: "flag") %>
  <h2><%= @country.name %></h2>
</div>

<hr>

<% @country.get_articles(@country.code).each do |article| %>
<div id="article">
    <%= link_to article['url'], target: "blank" do %>
      <div class="article">
        <h4><%= article['title'] %> (<%= article['publishedAt'][0..9] %>)</h4>
        <p><%= article['description'] %></p>
      </div>
    <% end %>
  </div>
<% end %>
